$pyramidStep1: #bbb;
$pyramidStep2: #aaa;
$pyramidStep3: #999;
$pyramidStep4: #888;
$pyramidStep5: #777;
$pyramidStep6: #666;

* {
	font-family: 'Helvetica', 'Arial', sans-serif;	
}


#pyramid {
	width:600px;
	text-align: center;
	position: relative;
	padding: 30px;
	background: #ccc;
	overflow:hidden;
	margin: 0;
	position: relative;

	div.step {
		z-index: 1;
		position: relative;
		height: 0;
		border-bottom: solid;
		border-left: solid transparent;
		border-right: solid transparent;
		cursor: pointer;

		span {
			border-radius: 5px;
			box-shadow: 0 1px 3px -1px rgba(20, 15, 10, 0.6);
			transform: translate(-50%, -50%);
			position: absolute;
			background: #fff;
			padding: 5px;
			min-width: 80px;
		}
	}

	div.step.step1 {
		border-bottom-color: $pyramidStep1;
	}

	div.step.step2 {
		border-bottom-color: $pyramidStep2;
	}

	div.step.step3 {
		border-bottom-color: $pyramidStep3;
	}

	div.step.step4 {
		border-bottom-color: $pyramidStep4;
	}

	div.step.step5 {
		border-bottom-color: $pyramidStep5;
	}

	div.step.step6 {
		border-bottom-color: $pyramidStep6;
	}

	div.step:hover {
		border-bottom-color: #fff;
	}

	div.popupFeedback {
		box-shadow: 0, 1px, 3px, 0, rgba(0, 0, 0, 0.55);
		border-radius: 5px;
		transform: translate(-50%,-50%);
		position: absolute;
		top: 50%;
		left: 50%;
		display: none;
		width: 450px;
		min-height: 40%;
		max-height: 80%;
		z-index: 3;
		text-align: center;
		padding: 4px;
		overflow-y: auto;
		overflow-x: hidden;
		background: #F2F2F2;

		> div {
			width: 100%;
			padding: 12px;
		}

		p, h3 {
			width: 100%;
			text-align: left;
		}

		h3 {
			margin-top: 0;
			width: 400px;
		}

		ol, ul {
			text-align: left;
		}

		button {
			transform: translate(-100%, 0%);
			position: absolute;
			top: 0;
			left: 100%;
			width: 34px;
			height: 34px;
			border-top-right-radius: 1px;
			color: #fff;
			font-size: 22px;
			background: #aeb0b3;
		}
	}

	div.popupFeedback.visible {
		display: block;
	}

	div.popupFeedbackShadow {
		opacity: 0.6;
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
}